/*
    Colors:
    Primary: var(--primary)
    Secondary: var(--secondary)
    Tertiary: var(--tertiary)
 */

@import url('https://fonts.googleapis.com/css?family=Thasadith|Roboto');

/* define variables */
:root {
    --primary: rgba(51, 101, 138, 1);
    --secondary: rgba(134, 187, 216, 1);
    --tertiary: rgba(47, 72, 88, 1);
    --quartiary: rgba(246, 174, 45, 1);
    --quinciary: rgba(242, 100, 25, 1);
}

html {
    font-family: Thasadith;
}

p {
    font-size: 20px;
    text-indent: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
}

a {
    font-size: 20px;
    font-weight: bold;
}

input {
    background-color: transparent;
}

button {
    background-color: var(--tertiary);
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 14px;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.095em;
    white-space: nowrap;
    border: 0;
    outline: 0;
}

button:hover {
  cursor: pointer;
  background:linear-gradient(to bottom, var(--quartiary) 0%, var(--quinciary) 100%);
  font-weight: 900;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

.nav {
    border-bottom: 2px solid whitesmoke;
    background-color: white;
    position: sticky;
    top:0;
    left:0;
    z-index: 9;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 10px;
}

h1 { font-weight: 600; padding: 10px; margin-top: 10px; padding-left: 5px; }
h2 { font-weight: 500;}

.footer {
    background-color: var(--tertiary);
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.footer h5 {
    font-style: Raleway;
    font-size: 22px;
    font-weight: 900;
    background-image: linear-gradient(0deg, var(--tertiary) 0%, var(--tertiary) 100%),
    linear-gradient(0deg, var(--quartiary) 0%, var(--primary) 100%),
    linear-gradient(0deg, var(--quartiary) 0%, var(--primary) 100%),
    linear-gradient(0deg, var(--primary) 0%, var(--quartiary) 100%),
    linear-gradient(0deg, var(--primary) 0%, var(--quartiary) 100%);

    border: 2px solid transparent;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%, 9px 9px, 9px 9px, 9px 9px, 9px 9px;
    background-position: top left, top left, top right, bottom left, bottom right;
    max-width: 400px;
    padding: 12px;
}

@media only screen (max-width: 499px)  {

    button {
        font-size: 18px;
        padding: 5px 15px 5px 15px;
     }


     h1 {
         padding: 5px;
     }

}
