/*
    Colors:
    Primary: #0E3F81
    Secondary: #5BEAA5
    Tertiary: #3490B9
 */

@import url('https://fonts.googleapis.com/css?family=Thasadith');
@import url('https://fonts.googleapis.com/css?family=Charm|Thasadith');

/* define variables */
:root {
    --primary: rgba(51, 101, 138, 1);
    --secondary: rgba(134, 187, 216, 1);
    --tertiary: rgba(47, 72, 88, 1);
    --quartiary: rgba(246, 174, 45, 1);
    --quinciary: rgba(242, 100, 25, 1);
}

html {
    font-family: Thasadith;
}

p {
    font-size: 20px;
    text-indent: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
}

a {
    font-size: 20px;
    font-weight: bold;
}

input {
    background-color: transparent;
}

button {
    background-color: #D6EAF8;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 14px;
    color: black;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.095em;
    white-space: nowrap;
    border: 0;
    outline: 0;
}


button::selection {
  background-color: #3e819b;
}

button:hover {
  cursor: pointer;
  background-color: rgb(91,234,165);
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

h1 { font-weight: 600; padding: 20px; }
h2 { font-weight: 500;}




@media only screen (max-width: 499px)  {

    button {
        font-size: 18px;
        padding: 5px 15px 5px 15px;
     }

     h1 {
         padding: 5px;
     }

}
