

.gridded_centered {
    position: 'static';
    display: grid;
    align-items: center;
    align-content: center;
    justify-items:center;
}

.infoView {
    max-width: 500px;
}
.restrictedPayView {
    position: 'static';
    display: grid;
    align-items: center;
    align-content: center;
    justify-items:center;
}

.restrictedPayView2 {
    position: 'static';
    display: grid;
    align-items: center;
    align-content: center;
    justify-items:center;
}

button:focus {
    outline: none;
}

 button {
    display: block;
    margin: auto;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    /* box-shadow: 3px 4px #85C1E9; */
}

h4 {
    margin-bottom: 25px;
}

div.payment {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 30px;
}

div.payment ul li {
    display: flex;
    margin: auto;
}

div.payment ul {
    display: flex;
    align-items: center;
    align-content: center;
}


div.payment label {
    font-size: 30px;
    font-weight: normal;
    padding: 5px 30px;
    margin: 5px;
    border-radius: 10px;
    margin-left: 0px;
}

div.payment input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
/* Circle Icon */

div.payment input[type="radio"] ~ div.woah {
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 0px;
  background-color: lightgrey;
}
div.payment input[type="radio"]:checked ~ div.woah {
  background-color: black;
}
div.payment input[type="radio"] ~ label {
    padding-left: 7px;
}

.sm3 {
    padding: 10px 5px 30px 5px;
}




.danger {
    background-color: #cc0000;
    box-shadow: 3px 4px #990000;
}


@media only screen and (max-width: 1000px) {

    div.payment {
        height: 100px;
        margin-top: 0px;
    }
    div.payment ul {
        display: block;
        align-items:baseline;
        align-content:stretch;
    }
    div.payment ul li {
        display: flex;
        margin: auto;
        width: 100%;
    }

    div.payment input[type="radio"] ~ label {
        font-size: 18px;
    }

    div.payment input[type="radio"] ~ div.woah {
        width: 20px;
        height: 20px;
    }

    .restrictedInput {
        width: 60%;
        max-width: 300px;
        min-width: 250px;
        text-align: left;
    }

}


@media only screen (max-width: 499px)  {

    .submit {
        font-size: 18px;
        padding: 5px 15px 5px 15px;
        margin-top: 0px;
     }

}



/* form.payment input[type="radio"]:checked + label {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: none;
} */
