/*
    Colors:
    Primary: #0E3F81
    Secondary: #5BEAA5
    Tertiary: #3490B9
 */

.bar {
    display: flex;
}

.active {
    font-weight: bold;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

div.active {
    background-color: lightgrey;
    width: 100%;
    height: 5px;
}
div.passive {
    background-color: transparent;
}
.in a {
    padding-left:5px;
}


.passive {
    font-weight: normal;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

.in {
    padding-left: 20px;
    display: table-cell;
    text-align: left;
}

p {
    text-align: left;
}

.viewport {
    background-color: transparent;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box p {
  width:80%;
}

h1 {
    /* margin: 20px; */
}

section.centered_text p {
    text-align: center;
}


table.darkTable {
  font-family: "Lucida Console", Monaco, monospace;
  border: 2px solid #000000;
  background-color: #242424;
  width: 100%;
  max-height: 300px;
  text-align: center;
  border-collapse: collapse;
  overflow-y: scroll;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
  background: #363636;
}
table.darkTable thead {
  background: #124669;
  background: -moz-linear-gradient(top, #4d748e 0%, #295878 66%, #124669 100%);
  background: -webkit-linear-gradient(top, #4d748e 0%, #295878 66%, #124669 100%);
  background: linear-gradient(to bottom, #4d748e 0%, #295878 66%, #124669 100%);
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot td {
  font-size: 12px;
}

@media only screen and (max-width: 500px) {

    table.darkTable tbody tr td{
        font-size: 10px;
    }
    table.darkTable tbody tr {
        min-height: 10px;
        max-height: 20px;
    }
     table.darkTable thead th {
         font-size: 10px;
     }

     .viewport {
         padding-left: 0px;
         width: 100%;
         margin-left: 0px;
     }

     .confined_viewport {
         margin-bottom: 20px;
     }
}

#mod3 {
    text-align: left;
}
