
/* Containers */

.contentcontainer {
    padding: 20px;
    padding-top: 200px;
}
.particlecontainer {
    background-color: black;
}


.gridded, .mostlygridded {
    display: grid;
    justify-items: center;
    align-items: center;
 }

.gridded, .mostlygridded {
    grid-template-columns: 100%;
 }

.gridded {
    justify-content: center;
    align-content: center;
}

.gridded {
    padding: 30px;
 }

 .gridblock {
     display: grid;
     padding: 0px 0px;
     justify-content: center;
     justify-items: center;
     align-content: center;
     align-items: center;
     text-align: center;
 }

 .gridblock h2 {
     margin-left: 0px;
 }

 .threeSplitGrid {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
 }

 .threeSplitGrid h2, .threeSplitGrid p, .threeSplitGrid img {
    margin: 20px;
 }


.buttonsview {
    display: flex;
}


.bg-image {

    margin-top: -350px; /*  should match height of bg-text */

    /* The image used */
    background-image: url("../../../../images/hands_in.jpg");

    /* Add the blur effect */
    /* filter: blur(8px); */

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Add the blur effect */

  }

  .youWillRecieve {
    width: 100%;
    max-width: 500px;
    color: white;
    padding-top: 10px;
   }
.listSection {
    background-color: var(--tertiary);
    padding: 5px 20px 20px 20px;
    max-width: 600px;
    border-radius:15px;
}

.youWillRecieve ul {
    width: 100%;
}

.youWillRecieve ul li {
    display: flex;
    color: white;
    padding-bottom: 5px;
    width:100%;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 22px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
}

 /* .youWillRecieve ul li:before{
    content: '';
    display: inline-block;
    height:28px;
    width:28px;
    padding-right: 10px;
    margin-right: 10px;
    background: url('../../../../images/baseline_done_white_18dp.png');

} */



.socials {
    width: 80%; max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    align-content: center;
    justify-items: center;
}



/* Texts */

.big { width: 80%; color: var(--primary); font-size: 60px; }
.offcolor { color: var(--quartiary); }

.blackWhite h2, .blackWhite h3, .blackWhite a,
.whiteBlack h2, .whiteBlack h3, .whiteBlack a
.blueYellow h2, .blueYellow h3, .topic {
    font-size: 30px;
    font-weight: 900;
}

.blackWhite h2, .whiteBlack h2 { font-family: var(--font2);  }

.whiteBlack {  background-color: black; color: white; }

.blueYellow {
    background: linear-gradient(black 15%, var(--primary), var(--quartiary));
    color: var(--quartiary);
    margin-top: -6px;
    padding: 30px;
    padding-bottom: 60px;
}

.blueYellow h1 {
    font-family: var(--font2);
    font-weight: 900;
    font-size: 33px;
}

.blueYellow h2 { font-family: var(--font2); }


h2.topic { color: var(--primary); font-family: var(--font2); }

.blackpar {
    color: black;
}



.whitepar {
    color: white;
 }

 .gridblock .whitepar {
    background-image: linear-gradient(0deg, black 0%, black 100%),
    linear-gradient(0deg, var(--quartiary) 0%, var(--primary) 100%),
    linear-gradient(0deg, var(--quartiary) 0%, var(--primary) 100%),
    linear-gradient(0deg, var(--primary) 0%, var(--quartiary) 100%),
    linear-gradient(0deg, var(--primary) 0%, var(--quartiary) 100%);
 }

 .gridblock .blackpar {
    background-image: linear-gradient(0deg, white 0%, white 100%),
    linear-gradient(0deg, var(--quartiary) 0%, var(--primary) 100%),
    linear-gradient(0deg, var(--quartiary) 0%, var(--primary) 100%),
    linear-gradient(0deg, var(--primary) 0%, var(--quartiary) 100%),
    linear-gradient(0deg, var(--primary) 0%, var(--quartiary) 100%);
 }

 .gridblock .whitepar, .gridblock .blackpar {
    border: 2px solid transparent;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%, 12px 12px, 12px 12px, 12px 12px, 12px 12px;
    background-position: top left, top left, top right, bottom left, bottom right;
    padding: 7px;
 }

 .whitepar, .blackpar {
    font-size: 21px;
    max-width:800px;
 }

 .blackWhite .whitepar, .whiteBlack .blackpar {
    margin-left: 20px;
 }


  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 15px;
    position: relative;
    top: 100px;
    z-index: 8;
    width: 80%;
    padding: 50px;
    text-align: center;
    height: 350px;        /*  should match margin-top of bg-img */
    max-width: 650px;
    overflow-y: scroll;
  }



/* Buttons */

.join, .login {
    width: 120px;
    border-radius: 9999px;
    margin: 10px 3px;
    margin-left: 10px;
}

.join { background-color: var(--quartiary); color: black; }

.centered_join {
    background-color: var(--quartiary); color: black;
    border-radius: 9999px;
    width: 120px;
}


/* Images */

.insta {
    content: url('../../../../images/insta-5.png');
    max-width: 70px;
    max-height: 70px;
}

.twitter {
    content: url('../../../../images/twitter.png');
    max-width: 50px;
    max-height: 50px;
}

.fb {
    content: url('../../../../images/fb-2.png');
    max-width: 60px;
    max-height: 60px;
}


/* Media */

@media only screen and (max-width: 800px){
    .contentcontainer {
        padding-top: 230px;
    }
}

@media only screen and (max-width: 700px){

    /* Containers */

    .threeSplitGrid h2, .threeSplitGrid p, .threeSplitGrid img {
        margin: 10px;
     }


    /* Text */

    .youWillRecieve ul li {
        font-size: 17px;
    }

    .blackpar {
        font-size: 20px;
        text-indent: 15px;
    }
    .whitepar {
        font-size: 20px;
        text-indent: 15px;
     }

     .big { font-size: 50px;  }

     .bg-text {
         height: 300px;
         padding: 20px;
     }

     .bg-image {
        margin-top: -300px; /*  should match height of bg-text */
     }

     .contentcontainer {
         padding-top: 180px;
     }
     .contentcontainer p {
         font-size: 17px;
     }

    /* Buttons */

    .buttonsview {
        display: block;
    }

    .join, .login {
        margin: 10px;
        margin-left: 20px;
    }




}

@media only screen and (max-width:800px){
    .whitepar, .blackpar { font-size: 20px; }
    .big {
        font-size: 33px;
    }
}

@media only screen and (max-width: 500px){

    .big {
        font-size: 32px;
    }
    .bg-text {
        height: 400px;
    }

    .contentcontainer {
        padding-top: 130px;
    }

    .blackpar, .whitepar {
        font-size: 18px;
    }


    .bg-image {

       margin-top: -400px; /*  should match height of bg-text */
    }

    .blackWhite h2, .blackWhite h3, .blackWhite a,
    .whiteBlack h2, .whiteBlack h3, .whiteBlack a
    .blueYellow h2, .blueYellow h3, .topic {
        font-size: 27px;
    }
}

@media only screen and (max-width: 350px){
    .whitepar, .blackpar { font-size: 17px; }
    .contentcontainer {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 330px){
    .contentcontainer {
        padding-top: 80px;
    }
}
