/*
    Colors:
    Primary: var(--primary)
    Secondary: var(--secondary)
    Tertiary: var(--tertiary)
 */

.bar {
    display: flex;
}

.active {
    font-weight: bold;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

div.active {
    background-color: lightgrey;
    width: 100%;
    height: 5px;
}
div.passive {
    background-color: transparent;
}
.in a {
    padding-left:5px;
}


.passive {
    font-weight: normal;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

.in {
    padding-left: 20px;
    display: table-cell;
    text-align: left;
}

p {
    text-align: left;
}

.viewport {
    background-color: transparent;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box p {
  width:80%;
}

h1 {
    /* margin: 20px; */
}

section.centered_text p {
    text-align: center;
}
.ttl:last-child {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
    .ttl {
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {

    

     .viewport {
         padding-left: 0px;
         width: 100%;
         margin-left: 0px;
     }

     .confined_viewport {
         margin-bottom: 20px;
     }
}
