.gridded_centered {
    position: static;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    z-index: 1;
}

.grd {
    display: grid;
    position: relative;
}

.pinned {
    position: relative;
    z-index: 1;
}

.content_box {
    position: static;
    height: 100%;
    border-radius: var(--radius-xl);
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 700px) {
    .pinned {
        padding: 0;
    }

    .content_box {
        position: static;
        padding: 0;
        padding-top: var(--space-2);
    }
}
