/*
    Colors:
    Primary: #0E3F81
    Secondary: #5BEAA5
    Tertiary: #3490B9
 */

.siblings {
  padding-left: 20px;
}

.outside {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 15px;
  background-color: white;
  height: 75px;
  padding-bottom: 0px;
  padding-top: 5px;
  max-width: 700px;
}

.input_label {
  padding-left: 0px;
  text-indent: 0px;
  color: black;
  font-family: Arial;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
}

.expanded_label {
  animation: expand_input_label 1s forwards;
}
.shrunk_label {
  padding-left: 0px;
  text-indent: 0px;
  color: black;
  font-family: Arial;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  color: #0E3F81;
  font-size: 24px;
  margin-left: 0px;
  position: relative;
  top: 13px;
  left: 20px;
  animation: diminish 1s forwards;
}

.passing_input {
  color: black;
  font-size: 17px;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 15px;
  position: relative;
  top: 0px;
  left: 15px;
  animation: black_to_red 1s reverse;
}
.failing_input {
  color: black;
  font-size: 17px;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 15px;
  position: relative;
  top: 0px;
  left: 15px;
  animation: black_to_red 1s forwards;
}

@keyframes black_to_red {
  0% {
    color: black;
  }
  50% {
    color: maroon;
  }
  100% {
    color: red;
  }
}

@keyframes diminish {
  50% {
    /* color: purple; */
  }

  100% {
    color: black;
    font-size: 17px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px;
    position: relative;
    top: 0px;
    left: 15px;
  }
}

@keyframes expand_input_label {
  0% {
    color: black;
    font-size: 17px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px;
    position: relative;
    top: 0px;
    left: 15px;
  }
  50% {
    /* color: purple; */
  }
  100% {
    color: #0E3F81;
    font-size: 22px;
    margin-left: 0px;
    position: relative;
    top: 13px;
    left: 20px;
  }
}

.siblings {
  display: inline-flex;
  width: 96%;
  text-align: left;
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
  left: 15px;
}
.siblings input {
  width: 94%;
  border: none;
  padding-top: 0px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 25px;
  height: 35px;
  margin-left: 1px;
}
.siblings input:focus {
  outline: 0;
}
.siblings h5 {
  font-family: arial;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  height: 8px;
  padding-top: 0px;
  margin-top: 7px;
  margin-left: 3px;
}

@media only screen and (max-width: 900px) {
      .siblings input {
        font-size: 19px;
        margin-bottom: 6px;
        margin-top: 1px;
        padding-top: 0px;
        line-height: 19px;
        height: 19px;
      }

      .siblings input:placeholder-shown {
        font-size: 19px;
        line-height: 19px;
      }

      .siblings {
        padding: 0px;
        margin: 0px;
      }

      .siblings h5 {
        font-size: 17px;
        text-align: left;
        font-weight: 400;
        height: 8px;
        padding-top: 0px;
        margin-top: 3px;
        margin-left: 2px;
        margin-bottom: 10px;
      }

      .outside {
          height: 60px;
      }


      @keyframes expand_input_label {
        0% {
          color: black;
          font-size: 15px;
          padding-left: 0px;
          margin-left: 0px;
          margin-top: 15px;
          position: relative;
          top: 0px;
          left: 15px;
        }
        50% {
          /* color: purple; */
        }
        100% {
          color: #0E3F81;
          font-size: 18px;
          margin-left: 0px;
          position: relative;
          top: 10px;
          left: 20px;
        }
      }
}
