.composer_boundary {
    padding: 10px 0px;
    text-align: center;
}

.oneWide {
    display: grid;
    /* padding: 5px; */
    padding-top: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: min-content;
    /* background-color: #F8F8F8; */
}

.twoWide {
    display: grid;
    text-align: center;
    padding: 5px;
    padding-top: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
}

.grid_block {
    margin: 10px;
    border: 2px solid lightgrey;
    min-width: 250px;
    padding: 10px;
    padding-top: 0px;
    background-color: #F8F8F8;
}

.twoWide .grid_block:first-child {
    margin-left: 0px;
}
.twoWide  .grid_block:last-child {
    margin-right: 0px;
}

.bordered {
    border: 2px solid lightgrey;
}

.one {
    /* margin-bottom: 35px; */
}

.basic {
    background-color: #F8F8F8;
    width: 99.5%;
    margin-left: 0.25%;
}

.not {
    border-width: 0px;
}

.nav {
    border-bottom: 2px solid whitesmoke;
    background-color: white;
}



@media only screen and (max-width: 800px)  {
     .twoWide {
        grid-template-columns: repeat(1, 1fr);
    }

    .twoWide .grid_block:first-child {
        margin-left: 10px;

    }
    .twoWide  .grid_block:last-child {
        margin-right: 10px;
    }

    .composer_boundary {
        padding: 8px 0px;
    }

    .oneWide {
        display: block;
    }
    .twoWide {
        display: block;
    }
    .one {
        margin-bottom: 0px;
    }

    .nav {
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 10px;
        height: 80px;
    }

    .basic {
        width: 92%;
        margin-left: 3%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 799px) {
    .basic {
        width: 96%;
        margin-left: 2%;
    }

    .settings { font-size: 20px;}
}




/*
    --------
    Fun Grid
    --------

.grid_block {
    background-color: darkgrey;
    border-radius: 5px;
    margin: 10px;
}

.active {
    color: red;
}

.composer_boundary {
    background-color: grey;
    padding: 50px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-column-gap: 10px;
    text-align: center;
    display: grid;
}
*/
