.contained  {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

.inner_contained button {
    margin-top: 30px;
}

.inner_contained {
    width: 95%;
    margin-left: 2.5%;
}

.spacer {
    width: 100%;
    height: 3px;
}

.cardElement {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: monospace;
    color: #666;
    margin-bottom: 10px;
    font-size: 16px;
}

.submitWrapper {
    margin-top: 15px;
}

@media (max-width: 499px) {
    .cardElement {
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px) {
    .inner_contained {
        width: 96%;
        margin-left: 2%;
    }
}

@media only screen (max-width: 499px)  {

    .inner_contained {
        width: 100%;
        margin-left: 0%;
    }

    .submit {
        font-size: 18px;
        padding: 5px 15px 5px 15px;
        margin-top: 0px;
     }

}
