/*
    Colors:
    Primary: var(--primary)
    Secondary: var(--secondary)
    Tertiary: var(--tertiary)
 */

 div {
   font-weight: bold;
 }
.tabbarWrapper {
    position: relative;
}

.tabsFull {
    display: flex;
}

.tabsCompact {
    display: none;
}

.smTitle {
    display: none;
    text-align: center;
}

@media (max-width: 699px) {
    .tabsFull {
        display: none;
    }
    .tabsCompact {
        display: grid;
    }
    .smTitle {
        display: block;
    }
}

.bar {
    display: flex;
}

.bar_sm  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 5px;
    justify-content: center;
    justify-items: center;
    height: 10px;
    width: 80%;
    margin: auto;
}

.in_sm {

}

.bar_btn {
    border-radius: 100%;
    padding: 1px 12px;
}

.b_active {
    background-color: black;
}

.b_passive {
    background-color: lightgrey;
}

.active {
    font-weight: bold;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

div.active {
    background-color: lightgrey;
    width: 100%;
    height: 5px;
}
div.passive {
    background-color: transparent;
}

.in a {
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 100%;
}

.activecontent {
}

.passive {
    font-weight: normal;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

.in {
    padding: 0px 10px;
    display: table-cell;
    text-align: left;
}

.in a {
    text-decoration: none;
}

.in a:hover {
    cursor: pointer;
    text-decoration: none;
}

p {
    text-align: left;
}

.viewport {
    background-color: transparent;
    margin-left: 5%;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.reset {
    display: block;
    text-align: left;
}

.summ2 {
    width: 80%;
    margin-left: 10%;
    overflow-y: scroll;
    max-height: 220px;
    min-height: 220px;
    padding-right: 3px;
}


.summ2::-webkit-scrollbar { -webkit-appearance: none; }
.summ2::-webkit-scrollbar:vertical { width: 13px; }
.summ2::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

/* @media only screen and (max-width: 700px)  {
    .summ2 {
        max-width: 300px;
    }
} */

@media only screen and (min-width: 500px) and (max-width: 1300px)  {

    .summ2 {
        width: 92%;
        margin-left: 4%;
        font-size: 18px;
    }

    .summ2::-webkit-scrollbar:vertical { width: 10px;}

}

@media only screen and (min-width: 1px) and (max-width: 499px)  {

    .summ2 {
        width: 96%;
        margin-left: 2%;
        font-size: 15px;
    }

    button.submit {
        font-size: 18px;
        padding: 5px 15px 5px 15px;
        margin-top: 0px;
    }
    .summ2::-webkit-scrollbar:vertical { width: 10px;}


}
