/*
    Colors:
    Primary: var(--primary)
    Secondary: var(--secondary)
    Tertiary: var(--tertiary)
 */

.siblings {
  padding-left: 20px;
}



.outside {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 15px;
  background-color: white;
  height: 75px;
  padding-bottom: 0px;
  padding-top: 5px;
  max-width: 700px;
}

/* baseline -> top left */
.input_label {
  text-indent: 0px;
  font-family: Arial;
  font-size: 15px;
  font-weight: 600;
}

/* NEW */

.tinyTitle {
  color: black;
  font-size: 16px;;
  margin-left: 10px;
}

.bigTitle {
  color: var(--primary);
  font-size: 20px;;
  margin-left: 20px;
}

.shrunk_label {
  /* Tiny title */
  color: black;
  font-size: 16px;
  margin-left: 10px;

  animation-name: sil;
  animation-duration: 1s;
  -webkit-animation-name: sil;
  -webkit-animation-duration: 1s;
}

.expanded_label {
  color: var(--primary);
  font-size: 20px;;
  margin-left: 20px;
  line-height: 45px;
  animation-name: expand_input_label;
  animation-duration: 1s;
  -webkit-animation-name: expand_input_label;
  -webkit-animation-duration: 1s;
}

.passing_input {
  color: black;
  animation-name: r2b;
  animation-duration: 1s;
  -webkit-animation-name: r2b;
  -webkit-animation-duration: 1s;
}

.failing_input {
  color: red;
  animation-name: b2r;
  animation-duration: 1s;
  -webkit-animation-name: b2r;
  -webkit-animation-duration: 1s;
}

@keyframes expand_input_label {
  0% {
    /* Tiny title */
    color: black;
    font-size: 16px;;
    margin-left: 10px;
    line-height: 12px;
  }
  100% {
    color: var(--primary);
    font-size: 20px;
    margin-left: 20px;
    line-height: 45px;
  }
}
@-webkit-keyframes expand_input_label {
  0% {
    /* Tiny title */
    color: black;
    font-size: 16px;;
    margin-left: 10px;
    line-height: 12px;
  }
  100% {
    color: var(--primary);
    font-size: 20px;;
    margin-left: 20px;
    line-height: 45px;
  }
}

@keyframes sil {
  100% {
    /* Tiny title */
    color: black;
    font-size: 16px;;
    margin-left: 10px;
  }
  0% {
    color: var(--primary);
    font-size: 20px;;
    margin-left: 20px;
    line-height: 45px;
  }
}
@-webkit-keyframes sil {
  100% {
    /* Tiny title */
    color: black;
    font-size: 16px;;
    margin-left: 10px;
  }
  0% {
    color: var(--primary);
    font-size: 20px;;
    margin-left: 20px;
    line-height: 45px;
  }
}

@-webkit-keyframes r2b {
  100% {
    color: black;
  }
  0% {
    color: red;
  }
}
@keyframes r2b {
  100% {
    color: black;
  }
  0% {
    color: red;
  }
}
@-webkit-keyframes b2r {
  100% {
    color: red;
  }
  0% {
    color: black;
  }
}
@keyframes b2r {
  100% {
    color: red;
  }
  0% {
    color: black;
  }
}

.siblings {
  display: inline-flex;
  width: 96%;
  text-align: left;
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
  left: 10px;
}

.siblings input:focus {
  outline: 0;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.submit {
  background-color: var(--tertiary);
}
@media only screen and (max-width: 500px) {
  .submit:hover {
    background-color: var(--tertiary);
  }
}
.siblings input {
  width: 94%;
  border: none;
  padding-top: 0px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 24px;
  height: 35px;
  margin-left: 1px;
}
.siblings input {
  font-size: 17px;
  margin-bottom: 6px;
  margin-top: 1px;
  padding-top: 0px;
  line-height: 24px;
  height: 24px;
}

.siblings input:placeholder-shown {
  font-size: 17px;
  line-height: 17px;
  animation-name: tolife;
  animation-duration: 1.25s;
}

@keyframes tolife {
  0% { opacity: 0; font-size: 1px;}
  100% { opacity: 1; font-size: 17px; }
}

.siblings {
  padding: 0px;
  margin: 0px;
}

.siblings h5 {
  font-family: Quicksand;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  height: 8px;
  padding-top: 0px;
  margin-top: 3px;
  margin-left: 2px;
  margin-bottom: 10px;
  font-style: bold;
  animation-name: tolife;
  animation-duration: 1.25s;
}

.outside {
  height: 57px;
}

/*
@-ms-keyframes expand_input_label {
  0% {
    color: black;
    font-size: 15px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px;
    position: relative;
    top: 0px;
    left: 15px;
  }

  100% {
    color: var(--primary);
    font-size: 18px;
    margin-left: 0px;
    position: relative;
    top: 10px;
    left: 20px;
  }
}

@-moz-keyframes expand_input_label {
  0% {
    color: black;
    font-size: 15px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px;
    position: relative;
    top: 0px;
    left: 15px;
  }

  100% {
    color: var(--primary);
    font-size: 18px;
    margin-left: 0px;
    position: relative;
    top: 10px;
    left: 20px;
  }
}

@-o-keyframes expand_input_label {
  0% {
    color: black;
    font-size: 15px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px;
    position: relative;
    top: 0px;
    left: 15px;
  }
  50% {
  }
  100% {
    color: var(--primary);
    font-size: 18px;
    margin-left: 0px;
    position: relative;
    top: 10px;
    left: 20px;
  }
}
 */
