/*
    Colors:
    Primary: var(--primary)
    Secondary: var(--secondary)
    Tertiary: var(--tertiary)
 */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.right {
    float: right;
}

.title {
    margin-top: 1px;
}

button.login {
    margin: 5px;
    font-size: 25px;
    margin-top: 12px;
    font-size: 20px;
    margin-bottom: 0px;
    /* height: 48px; */
}

.give {
    color: var(--secondary);
    font-size: 45px;
}
.assist {
    color: var(--tertiary);
    font-size: 45px;
}

.title {
    margin: 0px;
    padding: 0px;
}

.title:hover { cursor: pointer;}

div.cnavbar {
    width:100%;
    padding: 0px;
    margin-bottom: 0px;
}

@media only screen and (min-width: 200px) and (max-width: 1200px)  {
    button.login {
        font-size: 20px;
        padding: 5px 15px 5px 15px;
        margin-top: 8px;
     }
     div.cnavbar {
         width:100%;
         padding: 0px;
         margin-bottom: 3px;
         height: 40px;
     }

     .give, .assist { font-size: 35px; }

}
