/*
    Colors:
    Primary: var(--primary)
    Secondary: var(--secondary)
    Tertiary: var(--tertiary)
 */

 /* div {
   font-family: Thasadith;
   font-weight: bold;
 }
 */

.summ {
    width: 86%;
    margin-left: 7%;
    overflow-y: scroll;
    max-height: 190px;
    min-height: 190px;
    padding-right: 3px;
}


.summ::-webkit-scrollbar { -webkit-appearance: none; }
.summ::-webkit-scrollbar:vertical { width: 13px; }
.summ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

@media only screen and (min-width: 1300px) {
    p { font-size: 20px; }
}
@media only screen and (min-width: 500px) and (max-width: 1300px)  {
    .summ {
        width: 80%;
        margin-left: 10%;
    }

    .summ::-webkit-scrollbar:vertical { width: 10px;}

}

@media only screen and (max-width: 499px)  {
    .summ {
        width: 90%;
        margin-left: 5%;
    }

    p { font-size: 14px; }

    .summ::-webkit-scrollbar:vertical { width: 10px;}

}
